name: ihavefood

services:

  gateway:
    container_name: gateway
    build: gateway
    ports:
      - "180:180" 
      - "4041:4041" # debug port
    env_file:
      - path: ./gateway/.env
    networks:
      - dtac

    # debug
    command: [ "dlv", "exec", "--headless", "--continue","--listen", ":4041","--accept-multiclient", "/gatewayb" ]
    security_opt:
      - seccomp:unconfined

    depends_on:
      - user
      - coupon
      - order
      - restaurant
      - delivery
      - auth


  order:
    container_name: order
    build: ./src/orderservice
    env_file:
      - path: ./src/orderservice/.env
    depends_on:
      rabbitmqx: 
        condition: service_healthy
        restart: true
      orderdb:
        condition: service_started
        restart: true
    networks:
      - dtac
  orderdb:
    container_name: orderdb
    image: mongo:latest
    ports:
      - "27052:27017"
    environment:
      - MONGO_INITDB_ROOT_USERNAME=donkadmin
      - MONGO_INITDB_ROOT_PASSWORD=donkpassword
    networks:
      - dtac

  restaurant:
    container_name: restaurant
    build: ./src/restaurantservice
    env_file:
      - path: ./src/restaurantservice/.env
    networks:
      - dtac
    depends_on:
      rabbitmqx: 
        condition: service_healthy
        restart: true
      restaurantdb:
        condition: service_started
        restart: true
  restaurantdb:
    container_name: restaurantdb
    image: mongo:latest
    ports:
      - "27051:27017"
    environment:
      - MONGO_INITDB_ROOT_USERNAME=donkadmin
      - MONGO_INITDB_ROOT_PASSWORD=donkpassword
    networks:
      - dtac

  user:
    container_name: user
    build: ./src/userservice
    env_file:
      - path: ./src/userservice/.env
    networks:
      - dtac

    # debug
    ports:
      - "4040:4040"
    command: [ "dlv", "exec", "--headless", "--continue","--listen", ":4040","--accept-multiclient", "/docker-user" ]
    security_opt:
      - seccomp:unconfined

    depends_on:
      userdb:
        condition: service_healthy
        restart: true
  userdb:
    container_name: userdb
    image: postgres
    ports:
      - "5432:5432"
    volumes:
      - ./src/userservice/init-db.sh:/docker-entrypoint-initdb.d/init-db.sh
    environment:
      - POSTGRES_USER=donkadmin
      - POSTGRES_PASSWORD=donkpassword
      - POSTGRES_DATABASE=user_database
    healthcheck:
      test: ["CMD-SHELL","pg_isready -U $${POSTGRES_USER}"]
      interval: 5s 
      timeout: 5s
    networks:
      - dtac

  auth:
    container_name: auth
    build: ./src/authservice
    env_file:
      - path: ./src/authservice/.env
    networks:
      - dtac
    depends_on:
      authdb:
        condition: service_healthy
        restart: true
  authdb:
    container_name: authdb
    image: postgres
    ports:
      - "5442:5432"
    volumes:
      - ./src/authservice/init-db.sh:/docker-entrypoint-initdb.d/init-db.sh
    env_file:
      - path: ./src/authservice/.env
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -d $${POSTGRES_DATABASE}"]
      interval: 5s 
      timeout: 10s
    networks:
      - dtac

  delivery:
    container_name: delivery
    build: ./src/deliveryservice
    env_file:
      - path: ./src/deliveryservice/.env
    networks:
      - dtac
    depends_on:
      rabbitmqx: 
        condition: service_healthy
        restart: true
  deliverydb:
    container_name: deliverydb
    image: mongo:latest
    ports:
      - "27053:27017"
    environment:
      - MONGO_INITDB_ROOT_USERNAME=donkadmin
      - MONGO_INITDB_ROOT_PASSWORD=donkpassword
    networks:
      - dtac
        
  coupon:
    container_name: coupon
    build: ./src/couponservice
    env_file:
      - path: ./src/couponservice/.env
    networks:
      - dtac
    depends_on:
      rabbitmqx: 
        condition: service_healthy
        restart: true

  rabbitmqx:
    container_name: rabbitmqx
    image: rabbitmq:3
    environment:
      - RABBITMQ_DEFAULT_USER=donkadmin
      - RABBITMQ_DEFAULT_PASS=donkpassword
    healthcheck:
      test: ["CMD-SHELL","rabbitmq-diagnostics -q ping"]
      interval: 40s
      timeout: 30s
      retries: 3
    networks:
      - dtac

networks:
  dtac:
    driver: bridge

