name: ihavefood

# - port 40XX for debugging

services:

  proxy:
    container_name: proxy
    image: nginx:alpine
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
      - ./api-gateway/cloud/images:/usr/share/nginx/html/images:ro
    ports:
      - "80:80"
    networks:
      - mynetwork
    depends_on:
      - api-gateway

  api-gateway:
    container_name: api-gateway
    build: api-gateway
    env_file:
      - path: .env
    networks:
      - mynetwork
    depends_on:
      - customer
      - coupon
      - order
      - merchant
      - delivery
      - auth

  order:
    container_name: order
    build: ./src/orderservice
    env_file:
      - path: ./src/orderservice/.env
      - path: .env
    depends_on:
      rabbitmqx: 
        condition: service_healthy
        restart: true
      orderdb:
        condition: service_started
        restart: true
    networks:
      - mynetwork
    ports:
      - "4042:4042" 
    command: [ "dlv", "exec", "--headless", "--continue","--listen", ":4042","--accept-multiclient", "/order" ]
    security_opt:
      - seccomp:unconfined
  orderdb:
    container_name: orderdb
    image: mongo:latest
    env_file:
      - path: ./src/orderservice/.env
    ports:
      - "27052:27017"
    networks:
      - mynetwork

  merchant:
    container_name: merchant
    build: ./src/merchantservice
    env_file:
      - path: ./src/merchantservice/.env
      - path: .env
    networks:
      - mynetwork
    ports:
      - "4043:4043" 
    command: [ "dlv", "exec", "--headless", "--continue","--listen", ":4043","--accept-multiclient", "/merchant" ]
    security_opt:
      - seccomp:unconfined
    depends_on:
      rabbitmqx: 
        condition: service_healthy
        restart: true
      merchantdb:
        condition: service_started
        restart: true
  merchantdb:
    container_name: merchantdb
    image: mongo:latest
    env_file:
      - path: ./src/merchantservice/.env
    ports:
      - "27051:27017"
    networks:
      - mynetwork

  customer:
    container_name: customer
    build: ./src/customerservice
    env_file:
      - path: ./src/customerservice/.env
      - path: .env
    networks:
      - mynetwork
    ports:
      - "4044:4044"
    command: [ "dlv", "exec", "--headless", "--continue","--listen", ":4044","--accept-multiclient", "/customer" ]
    security_opt:
      - seccomp:unconfined
    depends_on:
      customerdb:
        condition: service_healthy
        restart: true
      rabbitmqx: 
        condition: service_healthy
        restart: true
  customerdb:
    container_name: customerdb
    image: postgres
    ports:
      - "5432:5432"
    volumes:
      - ./src/customerservice/scripts/init-db.sh:/docker-entrypoint-initdb.d/init-db.sh
    env_file:
      - path: ./src/customerservice/.env
    environment:
      - POSTGRES_PASSWORD
    healthcheck:
      test: ["CMD-SHELL","pg_isready -U postgres"]
      interval: 5s 
      timeout: 5s
    networks:
      - mynetwork

  auth:
    container_name: auth
    build: ./src/authservice
    env_file:
      - path: ./src/authservice/.env
      - path: .env
    networks:
      - mynetwork
    ports:
      - "4045:4045"
    command: [ "dlv", "exec", "--headless", "--continue","--listen", ":4045","--accept-multiclient", "/auth" ]
    security_opt:
      - seccomp:unconfined
    depends_on:
      authdb:
        condition: service_healthy
        restart: true
      rabbitmqx: 
        condition: service_healthy
        restart: true
  authdb:
    container_name: authdb
    image: postgres
    ports:
      - "5442:5432"
    volumes:
      - ./src/authservice/scripts/init-db.sh:/docker-entrypoint-initdb.d/init-db.sh
      - ./src/authservice/scripts/create_table.sql:/sql/create_table.sql
    env_file:
      - path: ./src/authservice/.env
    environment:
      - POSTGRES_PASSWORD
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres" ]
      interval: 5s 
      timeout: 10s
    networks:
      - mynetwork

  delivery:
    container_name: delivery
    build:
      context: ./src/deliveryservice
      dockerfile: Dockerfile
    env_file:
      - path: ./src/deliveryservice/.env
      - path: .env
    networks:
      - mynetwork
    ports:
      - "4046:4046" # for gdbserver
    security_opt:
      - seccomp:unconfined
    depends_on:
      rabbitmqx: 
        condition: service_healthy
        restart: true
      redisx: 
        condition: service_healthy
        restart: true
  redisx:
    container_name: redisx
    image: redis:latest
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 1s
      timeout: 3s
      retries: 5
    networks:
      - mynetwork
        
  coupon:
    container_name: coupon
    build: ./src/couponservice
    env_file:
      - path: ./src/couponservice/.env
      - path: .env
    networks:
      - mynetwork
    ports:
      - "4047:4047"
    command: [ "dlv", "exec", "--headless", "--continue","--listen", ":4047","--accept-multiclient", "/coupon" ]
    security_opt:
      - seccomp:unconfined
    depends_on:
      coupondb:
        condition: service_started
        restart: true
      rabbitmqx: 
        condition: service_healthy
        restart: true
  coupondb:
    container_name: coupondb
    image: mongo:latest
    ports:
      - "27054:27017"
    env_file:
      - path: ./src/couponservice/.env
    networks:
      - mynetwork

  rabbitmqx:
    container_name: rabbitmqx
    image: rabbitmq:management
    ports:
      - "15672:15672" # UI
      - "5672:5672" # Debugging purpose (connectable from local)
    env_file:
      - path: .env
    volumes:
      - ./.rbmq_users.sh:/rbmq_users.sh
    entrypoint: ["/bin/bash", "/rbmq_users.sh"]
    healthcheck:
      test: ["CMD-SHELL","rabbitmq-diagnostics -q ping"]
      interval: 30s
      timeout: 30s
      retries: 5
    networks:
      - mynetwork

networks:
  mynetwork:
    driver: bridge

