
name: raiman

services:

  gateway:
    container_name: gateway
    build: gateway
    ports:
      - "180:180"
    environment:
      GATEWAY_PORT: 180
      ORDER_URI: order:1111
      RESTAURANT_URI: restaurant:2222
    networks:
      - dtac
    depends_on:
      - order
      - restaurant

  order:
    container_name: order
    build: ./src/order
    env_file:
      - path: ./src/order/.env
    depends_on:
      rabbitmqx: 
        condition: service_healthy
        restart: true
      orderdb:
        condition: service_started
        restart: true
    networks:
      - dtac
  orderdb:
    container_name: orderdb
    image: mongo:latest
    ports:
      - "27052:27017"
    environment:
      - MONGO_INITDB_ROOT_USERNAME=donkadmin
      - MONGO_INITDB_ROOT_PASSWORD=donkpassword
    networks:
      - dtac

  restaurant:
    container_name: restaurant
    build: ./src/restaurant
    env_file:
      - path: ./src/restaurant/.env
    networks:
      - dtac
    depends_on:
      rabbitmqx: 
        condition: service_healthy
        restart: true
      restaurantdb:
        condition: service_started
        restart: true
  restaurantdb:
    container_name: restaurantdb
    image: mongo:latest
    ports:
      - "27051:27017"
    environment:
      - MONGO_INITDB_ROOT_USERNAME=donkadmin
      - MONGO_INITDB_ROOT_PASSWORD=donkpassword
    networks:
      - dtac

  rabbitmqx:
    container_name: rabbitmqx
    image: rabbitmq:3
    environment:
      - RABBITMQ_DEFAULT_USER=donkadmin
      - RABBITMQ_DEFAULT_PASS=donkpassword
    healthcheck:
      test: ["CMD","rabbitmq-diagnostics", "-q", "ping"]
      interval: 30s 
      timeout: 5s
      retries: 3
    networks:
      - dtac

networks:
  dtac:
    driver: bridge

