name: raiman

services:
  gateway:
    container_name: gateway
    build: gateway
    ports:
      - "180:180"
    environment:
      GATEWAY_PORT: 180
      ORDER_URI: order:1111
      RESTAURANT_URI: restaurant:2222
      USER_URI: user:3333
      AUTH_URI: auth:4444
      DELIVERY_URI: delivery:5555
    networks:
      - dtac
    depends_on:
      - order
      - restaurant
      - user
      - auth

  order:
    container_name: order
    build: ./src/order
    env_file:
      - path: ./src/order/.env
    depends_on:
      rabbitmqx: 
        condition: service_healthy
        restart: true
      orderdb:
        condition: service_started
        restart: true
    networks:
      - dtac
  orderdb:
    container_name: orderdb
    image: mongo:latest
    ports:
      - "27052:27017"
    environment:
      - MONGO_INITDB_ROOT_USERNAME=donkadmin
      - MONGO_INITDB_ROOT_PASSWORD=donkpassword
    networks:
      - dtac

  restaurant:
    container_name: restaurant
    build: ./src/restaurant
    env_file:
      - path: ./src/restaurant/.env
    networks:
      - dtac
    depends_on:
      rabbitmqx: 
        condition: service_healthy
        restart: true
      restaurantdb:
        condition: service_started
        restart: true
  restaurantdb:
    container_name: restaurantdb
    image: mongo:latest
    ports:
      - "27051:27017"
    environment:
      - MONGO_INITDB_ROOT_USERNAME=donkadmin
      - MONGO_INITDB_ROOT_PASSWORD=donkpassword
    networks:
      - dtac

  user:
    container_name: user
    build: ./src/user
    env_file:
      - path: ./src/user/.env
    networks:
      - dtac
    depends_on:
      userdb:
        condition: service_healthy
        restart: true
  userdb:
    container_name: userdb
    image: postgres
    ports:
      - "5432:5432"
    volumes:
      - ./src/user/init-db.sh:/docker-entrypoint-initdb.d/init-db.sh
    environment:
      - POSTGRES_USER=donkadmin
      - POSTGRES_PASSWORD=donkpassword
      - POSTGRES_DATABASE=user_database
    healthcheck:
      test: ["CMD-SHELL","pg_isready -U donkadmin"]
      interval: 5s 
      timeout: 5s
    networks:
      - dtac

  auth:
    container_name: auth
    build: ./src/auth
    env_file:
      - path: ./src/auth/.env
    networks:
      - dtac
    depends_on:
      authdb:
        condition: service_healthy
        restart: true
  authdb:
    container_name: authdb
    image: postgres
    ports:
      - "5442:5432"
    volumes:
      - ./src/auth/init-db.sh:/docker-entrypoint-initdb.d/init-db.sh
    environment:
      - POSTGRES_USER=donkadmin
      - POSTGRES_PASSWORD=donkpassword
      - POSTGRES_DATABASE=auth_database
    healthcheck:
      test: ["CMD-SHELL","pg_isready -U donkadmin"]
      interval: 5s 
      timeout: 5s
    networks:
      - dtac

  delivery:
    container_name: delivery
    build: ./src/delivery
    env_file:
      - path: ./src/delivery/.env
    networks:
      - dtac
    depends_on:
      rabbitmqx: 
        condition: service_healthy
        restart: true
  deliverydb:
    container_name: deliverydb
    image: mongo:latest
    ports:
      - "27053:27017"
    environment:
      - MONGO_INITDB_ROOT_USERNAME=donkadmin
      - MONGO_INITDB_ROOT_PASSWORD=donkpassword
    networks:
      - dtac

  rabbitmqx:
    container_name: rabbitmqx
    image: rabbitmq:3
    environment:
      - RABBITMQ_DEFAULT_USER=donkadmin
      - RABBITMQ_DEFAULT_PASS=donkpassword
    healthcheck:
      test: ["CMD-SHELL","rabbitmq-diagnostics -q ping"]
      interval: 40s
      timeout: 30s
      retries: 3
    networks:
      - dtac

networks:
  dtac:
    driver: bridge

