openapi: 3.0.0
info:
  title: ihavefood
  description: Your API description
  version: 0.1.0
servers:
  - url: http://localhost:180
    description: Gateway running in Docker on WSL
components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
paths:
  /auth/register:
    post:
      tags:
        - auth
      summary: Register a new user
      description: Register a new user with username, email, password, phone number, and address.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                username:
                  type: string
                  description: User's unique username
                email:
                  type: string
                  format: email
                  description: User's email address
                password:
                  type: string
                  description: User's password
                phone_number:
                  type: string
                  description: User's phone number
                address:
                  type: object
                  properties:
                    address_name:
                      type: string
                      description: Street address
                    sub_district:
                      type: string
                      description: Sub-district
                    district:
                      type: string
                      description: District
                    province:
                      type: string
                      description: Province
                    postal_code:
                      type: string
                      description: Postal code
              required:
                - username
                - email
                - password
                - phone_number
                - address
      responses:
        '201':
          description: User registered successfully
        '400':
          description: Invalid input
  /auth/login:
    post:
      tags:
        - auth
      summary: Logs user into the system
      description: ''
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                username:
                  type: string
                  description: User's unique username
                password:
                  type: string
                  description: User's password
      responses:
        '200':
          description: Successful login
  /api/users/{username}:
    get:
      tags: 
        - user
      summary: Returns a list of users
      description: Returns a list of users from the system.
      security:
        - BearerAuth: []  # Apply the security scheme
      parameters:
        - name: username
          in: path
          required: true
          description: The username of the user to retrieve.
          schema:
            type: string
      responses:
        '200':
          description: A JSON array of user names
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
