openapi: 3.1.0
info:
  title: ihavefood
  description: TODO add link to repo on git
  version: 0.1.0
servers:
    - url: http://localhost:180
      description: TODO
      
paths:

#---------------Auth Service--------------------
  /auth/register:
    $ref: 'authservice/register.yaml'

  /auth/login:
    $ref: 'authservice/login.yaml'

  /auth/users/roles:
    $ref: 'authservice/users.roles.yaml'



#---------------Profile Service-----------------
  /api/profiles:
    $ref: 'profileservice/profiles.yaml'
  /api/profiles/{user_id}:
    $ref: 'profileservice/userid.yaml'
  /api/profiles/{user_id}/address:
    $ref: 'profileservice/userid.address.yaml'


#---------------Order Service-----------------
  /api/orders/place_order:
    $ref: 'orderservice/placeorder.yaml'
  /api/orders/{user_id}:
    $ref: 'orderservice/orders.userid.yaml'



#---------------Delivery Service-----------------
  /api/deliveries/fee:
    $ref: 'deliveryservice/fee.yaml'

  /api/deliveries/{order_id}/accept:
    $ref: 'deliveryservice/accept.yaml'

  /api/deliveries/{order_id}/deliver:
    $ref: 'deliveryservice/deliver.yaml'


#---------------Restaurant Service-----------------
  /api/restaurants:
    $ref: 'restaurantservice/restaurants.yaml'
  /api/restaurants/{restaurant_id}: 
    $ref: 'restaurantservice/restaurants.id.yaml'
  /api/restaurants/{restaurant_id}/menus:
    $ref: 'restaurantservice/menus.yaml'


#---------------Coupon Service-----------------
#TODO
  /api/coupons:
    $ref: 'couponservice/coupons.yaml'
  /api/coupons/{code}:
    $ref: 'couponservice/code.yaml'


components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
        #    BasicAuth:
        #      type: http
        #      scheme: basic

# Apply Bearer Authentication every apis(global)
security:
  - BearerAuth: []

#---------------END-----------------
